# python
__pycache__/
.pytest_cache
*.pyc
.venv/
.env
# OS/editor
.DS_Store
.vscode/
.idea/
# caches
*.cache
# Packaging
*.egg-info/
dist/
build/
# Artifacts
/out/
# Ignore test runs only (official runs can be committed)
artifacts/runs/*/test/
# Ignore other artifact directories
artifacts/cache/
artifacts/tmp/