# python
__pycache__/
.pytest_cache
*.pyc
.venv/
venv/
.env
.env.backup
# OS/editor
.DS_Store
# below is commented out to share tasks.json
# .vscode/
.idea/
# caches
*.cache
# Packaging
*.egg-info/
dist/
build/
# Artifacts
/out/
# Ignore test runs only (official runs can be committed)
artifacts/runs/*/test/
# Ignore other artifact directories
artifacts/cache/
artifacts/tmp/
# temporary repository
bluezone/
# Temporary Excel files
~$*
# Presentation artifacts
presentations/_site/
presentations/slides.pdf
presentations/node_modules/